@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Süheyla Çimen - Çalışma Klavuzu</h1>
    <p> Stok güncelleme için ekstra olarak Sales, Purchase tablolarında stockId olması daha sağlıklı sonuç verebilirdi. </p>
</div>
